[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["npm ci --omit=dev --no-audit --no-fund"]

[phases.build]
cmds = ["npm install --production=false --no-audit --no-fund"]

[start]
cmd = "npm start"
